<div id="<%= dom_id comment %>">

  <div class="PostComment">

    <div class="PostCommentUserAvatar"></div>

    <div class="PostCommentTexts">
      <div class="PostCommentInfo">
        <p class="PostCommentUserName"><%= comment.user.email.split("@")[0] %></p>
        <!--- <p class="PostCommentDate">
            <%#= comment.created_at %>
            сегодня в&nbsp;10:05
        </p> --->
        <% if can? :manage, comment %>
          <div class="PostCommentIcons">
            <%= link_to "", edit_admin_comment_path(comment), class:"PostCommentIcon Edit" %>
            <%= link_to "", [:admin, comment], method: :delete, class:"PostCommentIcon Trash" %>
          </div>
        <% end %>
      </div>
      <p class="PostCommentBody"><%= comment.body %></p>
    </div>

  </div>


  <div class="PostCommentReplies">
    <% comment.replies.each do |reply| %>
      <%= render reply, partial: "admin/comments/comment", comment: reply, post: post %>
    <% end %>
  </div>

</div>
