<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Редактировать комментарий", edit_admin_comment_path(@comment) %> |
  <%= link_to "Обратно ко всем комментариям", admin_comments_path %>

  <%= button_to "Удалить комментарий", [:admin, @comment], method: :delete %>
</div>
