<div class="postCard">

  <p class="typeChips idea">
    <%= idea_post.type %>
  </p>

  <!--
  <p class="categoryChips">
  <%#= idea_post.category.name %>
  </p>
  -->

  <div class="tagChipsRow">
    <% idea_post.tag_list.each do |tag| %>
      <div class="tagChips">
        <%= tag %>
      </div>
    <% end %>
  </div>

  <p class="postDate">
    <%= idea_post.created_at %>
  </p>

  <p>
    <%= idea_post.user.email %>
  </p>

  <h2>
    <%= idea_post.title%>
  </h2>

  <%= image_tag idea_post.post_image.url, width: 300 if idea_post.post_image.url %>

  <p>
    <%= idea_post.description %>
  </p>

  <p>
    Комментариев: <%= idea_post.comments.count %>
  </p>

</div>