<div id="<%= dom_id post %>">

  <p>
    <%= post.user.email %>
  </p>

  <h2>
    <%= post.title%>
  </h2>

  <%= image_tag post.post_image.url, width: 300 if post.post_image.url %>

  <p>
    <%= post.description %>
  </p>

  <p>
    Комментариев: <%= post.comments.count %>
  </p>

</div>