<%= link_to admin_post_path(tutorial_post), class: 'postCard' do %>

  <p class="typeChips">
    <%= tutorial_post.type %>
  </p>

  <p class="categoryChips">
    <%= tutorial_post.category.name %>
  </p>

  <p class="postDate">
    <%= tutorial_post.created_at %>
  </p>

  <p>
    <%= tutorial_post.user.email %>
  </p>

  <h2>
    <%= tutorial_post.title%>
  </h2>

  <%= image_tag tutorial_post.post_image.url, width: 300 if tutorial_post.post_image.url %>

  <p>
    <%= tutorial_post.description %>
  </p>

  <p>
    Комментариев: <%= tutorial_post.comments.count %>
  </p>

<% end %>