<p style="color: green"><%= notice %></p>

<div class="contentPage">

  <%= render @category %>

  <div>
    <%= link_to "Изменить эту категорию", edit_admin_category_path(@category) %> |
    <%= link_to "Ко всем категориям", admin_categories_path %>

    <%= button_to "Удалить категорию", [:admin, @category], method: :delete %>
  </div>

  <br>

  <div>
    <%# if can? :create, Post %>
      <%= link_to "Новый пост", new_admin_post_path %>
    <%# end %>
  </div>

  <br>

  <div id="posts">
    <% @category.posts.each do |postcat| %>
      <%#= link_to [:admin, postcat], class: 'postCard' do %>
          <%#= render partial: 'admin/posts/postcat', locals: {post: postcat} %>
      <%# end %>
    <% end %>
  </div>

  <div id="posts">
    <%= render @posts %>
  </div>
  
</div>






