<div class="postCard">

  <p class="typeChips tutorial">
    <%= tutorial_post.type %>
  </p>

  <!--
  <p class="categoryChips">
  <%#= idea_post.category.name %>
  </p>
  -->

  <div class="tagChipsRow">
    <% tutorial_post.tag_list.each do |tag| %>
      <div class="tagChips">
        <%= tag %>
      </div>
    <% end %>
  </div>

  <p class="postDate">
    <%= tutorial_post.created_at %>
  </p>

  <p>
    <%= tutorial_post.user.email %>
  </p>

  <h2>
    <%= tutorial_post.title%>
  </h2>

  <%= image_tag tutorial_post.post_image.url, width: 300 if tutorial_post.post_image.url %>

  <p>
    <%= tutorial_post.description %>
  </p>

  <p>
    <%= tutorial_post.content_link %>
  </p>

  <p>
    Комментариев: <%= tutorial_post.comments.count %>
  </p>

  </div>