<%= form_with(model: [:admin, idea_post]) do |form| %>
  <% if idea_post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(idea_post.errors.count, "error") %>. Пост не может быть сохранён:</h2>

      <ul>
        <% idea_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :"Заголовок", style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <br>

  <div>
    <%= form.label :"Текст публикации", style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <br>

  <div>
    <%= form.label :"Добавить ссылку", style: "display: block" %>
    <%= form.text_field :content_link %>
  </div>

  <br>

  <div>
    <%= form.label :"Загрузить изображение", style: "display: block" %>
    <%= form.file_field :post_image%>
  </div>

  <br>

  <div>
    <%= form.label :"Категория" %>
    <%= form.select :category_id, options_for_select(Category.all.map { |category| [category.name, category.id]})%>
  </div>

  <div>
    <%= form.label :"Тип" %>
    <%= form.select :type, ["IdeaPost", "TutorialPost"]%>
  </div>

  <div>
    <%= form.label :"Тэги", style: "display: block" %>
    <%= form.text_field :tag_list, value: idea_post.tag_list.join(", ") %>
  </div>
  
  <br>

  <div>
    <%= form.submit :"Опубликовать"%>
  </div>
<% end %>
