<div class="Footer">
    <div class="FooterTop">
        <div class="FooterTopLogo">
            <h4 class="FooterTopLogoText">L&Ograve;&Ograve;CHOK</h4>
            <div class="FooterTopLogoLine"></div>
        </div>
        <sup class="FooterTopR">&reg;</sup>
    </div>

    <div class="FooterInfo">
        <div class="FooterInfoPages mobile">
            <%= link_to "Идеи", welcome_ideas_url, class: "FooterInfoPage" %>
            <%= link_to "Туториалы", welcome_ideas_url, class: "FooterInfoPage" %>
            <%= link_to "О нас", welcome_about_url, class: "FooterInfoPage" %>
        </div>

        <div class="FooterInfoTeam">
            <h6 class="FooterInfoTeamTitle">Команда</h6>
            <div class="FooterInfoTeamStudents">
                <a href="https://portfolio.hse.ru/Student/17677" target="_blank" class="FooterInfoTeamPerson">Арсений Гулевич</a>
                <a href="https://portfolio.hse.ru/Student/12740" target="_blank" class="FooterInfoTeamPerson">Лена Донских</a>
                <a href="https://portfolio.hse.ru/Student/17663" target="_blank" class="FooterInfoTeamPerson">Ася Олейниченко</a>
            </div>
            <div class="FooterInfoTeamProfs">
                <a href="https://design.hse.ru/team/4249" target="_blank" class="FooterInfoTeamPerson">Захар День</a>
                <a href="https://www.hse.ru/org/persons/134073109" target="_blank" class="FooterInfoTeamPerson">Дмитрий Александров</a>
                <a href="https://design.hse.ru/team/15113" target="_blank" class="FooterInfoTeamPerson">Вадим Булгаков</a>
            </div>
        </div>

        <% if user_signed_in? && current_user.admin %>
            <div class="FooterInfoPages">
                <%= link_to "Идеи", admin_idea_posts_url, class: "FooterInfoPage" %>
                <%= link_to "Туториалы", admin_tutorial_posts_url, class: "FooterInfoPage" %>
                <%= link_to "О нас", welcome_about_url, class: "FooterInfoPage" %>
            </div>
        <% else %>
            <div class="FooterInfoPages">
                <%= link_to "Идеи", welcome_ideas_url, class: "FooterInfoPage" %>
                <%= link_to "Туториалы", welcome_ideas_url, class: "FooterInfoPage" %>
                <%= link_to "О нас", welcome_about_url, class: "FooterInfoPage" %>
            </div>
        <% end %>

        <div class="FooterInfoContacts">
        <p class="FooterInfoContactsText">(Контакты)</p>
        <div class="SocialNetworks">
            <a class="SocialNetwork VK" href="https://vk.com/" target="_blank"></a>
            <a class="SocialNetwork TG" href="https://t.me/loochok_media" target="_blank"></a>
        </div>
        <p class="FooterInfoContactsText">Медиа сервис &Ograve;&nbsp;кастомизации вещей</p>
        </div>
    </div>

</div>

