<% if user_signed_in? && current_user.admin %>
    <nav class="header">
        
        <div class="navSections">
            <%= link_to "Все посты", admin_posts_url, class: 'navSection' %>
            <%= link_to "Идеи", admin_idea_posts_url, class: 'navSection' %>
            <%= link_to "Туториалы", admin_tutorial_posts_url, class: 'navSection' %>

            <%#= link_to "Категории", admin_categories_url, class: 'navSection' %>
                
            <% Category.all.each do |category| %>
                 <%#= link_to category.name, admin_category_url(category), class: 'navSection' %>
            <% end %>

             <%= link_to "Комментарии", admin_comments_url, class: 'navSection' %>
            <%= link_to "Подписки", admin_subscriptions_url, class: 'navSection' %>  
        </div>

        <%= link_to "ÒÒ", root_url, class: 'navLogo' %>

        <div class="navSearchAvatar">
            <%#= link_to "Новый пост", root_url, class: 'navSection newPost' %>

            <%#= link_to "", root_url, class: 'navSearch' %>
            <%#= link_to "", root_url, class: 'navUser' %>
            <%= link_to current_user.email, edit_user_registration_path %>

            <%= link_to "Выйти", destroy_user_session_path, method: :delete, class: 'navSection' %>
        </div>
    </nav>
<% end %>


<% if user_signed_in? && !current_user.admin%>
    <nav class="header">
        
        <div class="navSections">
            <%= link_to "Все посты", posts_url, class: 'navSection' %>
            <%= link_to "Идеи", welcome_ideas_url, class: 'navSection' %>
            <%= link_to "Туториалы", welcome_tutorials_url, class: 'navSection' %>  
        </div>

        <%= link_to "ÒÒ", root_url, class: 'navLogo' %>

        <div class="navSearchAvatar">
            <%= link_to "Новый пост", root_url, class: 'navSection newPost' %>

            <%= link_to "", root_url, class: 'navSearch' %>
            <%= link_to "", edit_user_registration_path, class: 'navUser' %>
            <%#= link_to current_user.email, edit_user_registration_path %>

            <%= link_to "Выйти", destroy_user_session_path, method: :delete, class: 'navSection' %>
        </div>
    </nav>
<% end %>


<% unless user_signed_in? %>
    <nav class="header">
            
        <div class="navSections">
            <%= link_to "Все посты", posts_url, class: 'navSection' %>
            <%= link_to "Идеи", welcome_ideas_url, class: 'navSection' %>
            <%= link_to "Туториалы", welcome_tutorials_url, class: 'navSection' %> 
        </div>

        <%= link_to "ÒÒ", root_url, class: 'navLogo' %>

        <div class="navSearchAvatar">
            <%= link_to "", root_url, class: 'navSearch' %>
            <%#= link_to "", root_url, class: 'navUser' %>

            <%= link_to "Войти", new_user_session_path, class: 'navSection' %>
            <%= link_to "Регистрация", new_user_registration_path, class: 'navSection'  %>
        </div>
    </nav>

<% end %>
