<% if user_signed_in? %>
    <nav class="header">    
        <%= link_to "", root_url, class: 'navLogo' %>
        
        <div class="navSections">
            <%#= link_to "Главная", root_url, class: 'navSection' %>


            <% if user_signed_in? %>
            <%= link_to "Посты", admin_posts_url, class: 'navSection' %>
            <%= link_to "Категории", admin_categories_url, class: 'navSection' %>
                
                <% Category.all.each do |category| %>
                    <%#= link_to category.name, admin_category_url(category), class: 'navSection' %>
                <% end %>

                <%= link_to "Комментарии", admin_comments_url, class: 'navSection' %>
                <%= link_to "Подписки", admin_subscriptions_url, class: 'navSection' %>
            <% end %>
        </div>



        <div class="navSearchAvatar">

            <% if user_signed_in? %>
                <%#= link_to current_user.email, edit_user_registration_path %>
                <%= link_to "Выйти", destroy_user_session_path, method: :delete, class: 'navSection' %>
            <%# else %>
                <%#= link_to "Log in", new_user_session_path %>
                <%#= link_to "Register", new_user_registration_path %>
            <% end %>

            <% unless user_signed_in? %>
                <%#= link_to "", root_url, class: 'navSearch' %>
                <%#= link_to "", root_url, class: 'navUser' %>
            <% end %>

        </div>
    </nav>
<% end %>

<% unless user_signed_in? %>

    <div class="promoHeader">
        <%= link_to "", root_url, class: 'navLogo' %>
        <%= link_to "О проекте", welcome_about_url, class: 'navSection' %>
    </div>

<% end %>
