<%
  if controller_name == 'idea_posts' && (action_name == 'index' || action_name == 'by_tag')
    body_class_name = 'posts_page'
  end
%>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if @title == nil %>
      <% title = "LÒÒCHOK" %>
    <% else %>
      <% title = @title %>
    <% end %>

    <title><%= title %></title>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= body_class_name %>">
    <%= render 'menubar' %>
    <%= yield %>
    <%= render 'footer' %>
  </body>
</html>
